.icon-1 {
  background-image: url(drive_logo.png);
}

.icon-2 {
  background-image: url(gmail_logo.png);
}

.icon-3 {
  background-image: url(mygithub_logo.png);
}

.icon-4 {
  background-image: url(digipodium_logo.png);
}

.icon-5 {
  background-image: url(npm_logo.png);
}

.icon-6 {
  background-image: url(youtube_logo.png);
}

.icon-7 {
  background-image: url(medium_logo.png);
}

.icon-8 {
  background-image: url(bootstrap_logo.png);
}

.icon-9 {
  background-image: url(bootstrap_logo.png);
}

.icon-10 {
  background-image: url(bootstrap_logo.png);
}

.icon-11 {
  background-image: url(codepen_logo.png);
}

.icon-12 {
  background-image: url(mui_logo.png);
}

.icon-13 {
  background-image: url(stackoverflow_logo.png);
}

.icon-14 {
  background-image: url(framer_logo_a.gif);
}

.icon-15 {
  background-image: url(css-tricks_logo.png);
}

.icon-16 {
  background-image: url(bootstrap_logo.png);
}
